:root {
  --colors-blue-900: #003784;
  --colors-blue-800: #0049a2;
  --colors-blue-700: #085bbd;
  --colors-blue-600: #326ed7;
  --colors-blue-500: #4f82ee;
  --colors-blue-400: #6b97ff;
  --colors-blue-300: #87acff;
  --colors-blue-200: #a3c2ff;
  --colors-blue-100: #bed8ff;
  --colors-blue-50: #daefff;
  --colors-green-900: #004620;
  --colors-green-800: #005b2f;
  --colors-green-700: #00703f;
  --colors-green-600: #008551;
  --colors-green-500: #009b64;
  --colors-green-400: #21b078;
  --colors-green-300: #47c68e;
  --colors-green-200: #68dca5;
  --colors-green-100: #88f1bd;
  --colors-green-50: #a8ffd6;
  --colors-blue-source: #236ad4;
  --colors-green-source: #32c287;
  --colors-purple-source: #874fff;
  --colors-purple-900: #3d189d;
  --colors-purple-800: #5328be;
  --colors-purple-700: #6b39dc;
  --colors-purple-600: #834df7;
  --colors-purple-500: #9b61ff;
  --colors-purple-400: #b377ff;
  --colors-purple-300: #cc8eff;
  --colors-purple-200: #e3a6ff;
  --colors-purple-100: #fabfff;
  --colors-purple-50: #ffd8ff;
  --colors-graphite-source: #333;
  --colors-graphite-900: #393939;
  --colors-graphite-800: #4b4b4b;
  --colors-graphite-700: #5e5e5e;
  --colors-graphite-600: #727272;
  --colors-graphite-500: #868686;
  --colors-graphite-400: #9b9b9b;
  --colors-graphite-300: #b0b0b0;
  --colors-graphite-200: #c6c6c6;
  --colors-graphite-100: #ddd;
  --colors-graphite-50: #f3f3f3;
  --colors-base-white: #fff;
  --colors-base-black: #000;
  --colors-base-white-15: rgba(255, 255, 255, 0.15);
  --colors-base-red: #fa4549;
  --colors-base-blue: #3b5884;
  --colors-base-blue-50: rgba(59, 88, 132, 0.5);
  --colors-blue-source-50: rgba(35, 106, 212, 0.5);
  --colors-green-500-50: rgba(0, 155, 100, 0.5);
  --colors-graphite-50-50: rgba(243, 243, 243, 0.5);
  --colors-base-white-50: rgba(255, 255, 255, 0.5);
  --colors-blue-source-50-2: rgba(35, 106, 212, 0.05);
  --colors-graphite-source-5: rgba(51, 51, 51, 0.05);
  --colors-green-source-10: rgba(50, 194, 135, 0.1);
  --colors-purple-source-10: rgba(135, 79, 255, 0.1);
  --colors-purple-800-25: rgba(83, 40, 190, 0.25);
}

:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Martian Mono", sans-serif;
  --third-family: "Lexend", sans-serif;
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/geologica-v5-latin-300.woff2") format("woff2");
}
@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/geologica-v5-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/geologica-v5-latin-500.woff2") format("woff2");
}
@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/geologica-v5-latin-600.woff2") format("woff2");
}
@font-face {
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/martian-mono-v6-latin-500.woff2") format("woff2");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/lexend-v26-latin-500.woff2") format("woff2");
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

header {
  position: relative;
  z-index: 1001;
  background: var(--colors-blue-700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  height: 89px;
}
.nav-logo-link img {
  width: 160px;
  height: 20px;
}
.nav-deck {
  display: none;
}
.header-btn-deck {
  display: none;
}
.btn-mob-menu {
  border: 1px solid var(--colors-base-white);
  border-radius: 99px;
  width: 107px;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--colors-base-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close-hidden {
  display: none;
}
.btn-mob-menu img {
  margin-left: 8px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.mobile-menu {
  position: fixed;
  top: 89px;
  left: 0;
  width: 100%;
  height: calc(100vh - 89px); /* Займає решту екрану */
  background: var(--colors-blue-700);
  z-index: 1000;
  padding: 40px 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__search-wrapper {
  margin: 0 20px 30px;
}
/* Кнопка-перемикач */
.search-toggle-btn {
  border: 1px solid var(--colors-base-white);
  border-radius: 99px;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--colors-base-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 0 12px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: auto;
}
.icon-search {
  width: 12px;
  height: 12px;
}
.icon-close-search {
  display: none;
  font-size: 24px;
  line-height: 1;
}
.search-toggle-btn.is-active .search-text {
  display: none;
}
.search-toggle-btn.is-active .icon-search {
  display: none;
}
.search-toggle-btn.is-active .icon-close-search {
  display: flex;
  align-items: center;
}
/* Випадаючий інпут */
.search-dropdown {
  display: none;
  position: relative;
  width: 100%;
  margin-top: 8px;
}
.search-dropdown.show {
  display: block;
}
.search-dropdown.show {
  border: 1px solid var(--colors-graphite-100);
  border-radius: 8px;
  padding: 12px;
  height: 44px;
  background: var(--colors-base-white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--colors-graphite-500);
  outline: none;
}
.search-submit-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
nav.mobile-menu__nav {
  padding: 0 24px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}
.mobile-menu-item {
  padding: 13px 0;
}
.mobile-menu-item a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--colors-base-white);
  padding: 13px 0;
}
/* ======= HERO ========= */
.hero-section {
  position: relative;
  padding: 128px 0;
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--colors-base-white);
  margin-bottom: 32px;
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--colors-base-white);
  margin-bottom: 56px;
}
.wrap-hero-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 76px;
}
.wrap-input-hero {
  border: 1.5px solid var(--colors-graphite-100);
  border-radius: 99px;
  padding: 24px 32px;
  /* width: 90%; */
  min-width: 288px;
  height: 65px;
  box-shadow: 0 0 16px 0 #00b36a, 0 0 24px 0 rgba(0, 179, 106, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--colors-base-white);
}
.hero-btn-modal {
  border: 1px solid var(--colors-green-source);
  border-radius: 99px;
  width: 200px;
  height: 65px;
  background: var(--colors-green-source);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--colors-base-white);
}
.cards-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}
.cards-wrapper::-webkit-scrollbar {
  display: none;
}
.cards-track {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}
.card {
  flex: 0 0 176px;
  height: 176px;
  border-radius: 12px;
  border: 4px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  /* padding: 24px; */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--colors-base-white);
}
.hero-card-text {
  padding: 20px;
}
.hero.card-dark {
  background: var(--colors-base-blue-50);
}
.hero.card-blue {
  background: var(--colors-blue-source-50);
}
.hero.card-blue img {
  height: 100px;
  width: 100%;
}
.hero.card-bg {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: end;
}
.hero-card-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  z-index: -1;
}
.hero-card-img-bg img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.hero.card-green {
  background: var(--colors-green-500-50);
}
.hero.card-bg-last {
  position: relative;
  z-index: 0;
  /* overflow: hidden; */
  background: transparent;
  display: flex;
  align-items: end;
  /* background: linear-gradient(180deg, #151515 0%, #333 100%); */
}
.hero-card-img-bg-last img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.hero-card-img-bg-last {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  z-index: -1;
}
.hero-card-img-last {
  position: absolute;
  top: -60px;
  left: 20px;
  width: 120%;
  height: 120%;
  border-radius: 12px;
  object-fit: cover;
  z-index: 1;
}
.video-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Модальне вікно */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Затемнення як на скріншоті */
  display: none; /* Сховано за замовчуванням */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}
.modal-overlay.is-open {
  display: flex;
}

.modal-window {
  background: var(--colors-base-white);
  width: 100%;
  max-width: 476px;
  border-radius: 24px; /* Сильне закруглення як у Figma */
  padding: 40px;
  position: relative;
  text-align: left;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: 1px solid var(--colors-graphite-source);
  border-radius: 99px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: var(--colors-graphite-source);
  margin-bottom: 16px;
  width: 90%;
}

.modal-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: var(--colors-graphite-source);
  margin-bottom: 32px;
}

.modal-form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 12px;
}
.modal-form input {
  min-width: 0;
  width: 100%;
  padding: 12px 8px;
  font-size: 13px;
  box-sizing: border-box;
}
.modal-form input,
.modal-form textarea {
  border: 1px solid var(--colors-graphite-100);
  border-radius: 8px;
  padding: 12px;
  height: 44px;
  font-family: inherit;
}
.modal-form textarea {
  width: 100%;
  height: 124px;
  margin-bottom: 12px;
  resize: none;
}
.modal-submit-btn {
  width: 100%;
  background: var(--colors-green-source);
  border: 1px solid var(--colors-green-source);
  border-radius: 99px;
  max-width: 256px;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--colors-base-white);
  cursor: pointer;
}
.modal-form input:focus,
.modal-form textarea:focus {
  border: 1px solid var(--colors-green-source);
}
.modal-form input:focus::placeholder,
.modal-form textarea:focus::placeholder {
  color: var(--colors-green-source);
}
.modal-form input .errors,
.modal-form textarea:focus .errors {
  border: 1px solid var(--colors-green-source);
}
.modal-form input:focus::placeholder,
.modal-form textarea:focus::placeholder {
  color: var(--colors-green-source);
}

.modal-list {
  margin: 20px 0;
  padding-left: 20px;
  list-style-type: disc;
  color: #666;
}
.modal-list li {
  margin-bottom: 10px;
}
.modal-list li::before {
}
.modal-image-wrapper {
  margin-top: 20px;
  text-align: center;
  margin-bottom: -40px;
  overflow: hidden;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.thank-you-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Стиль для плавної появи */
#modalThankYouContent {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 546px) {
  .wrap-hero-form {
    flex-direction: row;
  }
  .wrap-input-hero {
    flex-grow: 1;
    min-width: 308px;
    max-width: 592px;
  }
}
/* На десктопі повертаємо звичайний вигляд */
@media (min-width: 1024px) {
  .cards-wrapper {
    overflow: visible;
  }

  .cards-track {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 карток в ряд */
    gap: 20px;
  }

  .card {
    flex: none; /* Скидаємо мобільні налаштування */
    width: auto;
  }
}
